* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: 'Comfortaa', cursive;
    transition: background-color .5s;
    margin-top: 100px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header {
    overflow: hidden;
    background-color: rgb(169, 169, 169) !important;
    padding: 20px 10px;
    width: 100%;
    margin-top: -100px;
    position: fixed;
    transition: .6s;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.a-home_page {
    background-image: url(WhatsApp\ Image\ 2021-03-06\ at\ 8.14.58\ PM.jpeg);
    width: 220px;
    height: 48px;
    margin-left: -10px;
    z-index: 1;
    position: absolute
}

.header a.a-home_page {
    font-size: 30px;
    margin-top: 15px;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}
.header-right {
    float: right;
}

@media screen and (max-width: 275px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.div-content {
    padding: 20px;
}
/*------------------------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -1px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    float: right;
}

.sidenav .sub-pages {
    padding: 8px 8px 8px 45px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    right: 5px;
    transition: 0.6s;
    float: left;
}

.sidenav .sub-pages:hover {
    color: #f1f1f1;
}

.sidenav .closeSideBar {
    position: absolute;
    top: -1px;
    right: 145px;
    font-size: 36px;
    margin-left: 1px;
    margin-bottom: 3px;
    float: left;
}
.closeSideBar {
    background-color: rgba(40, 40, 40, 0.8);

}
#main {
    transition: margin-left .5s;
    padding: 16px;
}
.openSideBar {
    margin-top: 15px;
    z-index: 10000000000000;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 25px;}
    .sidenav a {font-size: 18px;}
}
/*-----------------------------------------------------------------------------*/
footer {
    width: 100% !important;
    height: 15%;
    text-align: center;
    background-color: rgba(0,0,0,.1);
}
.a-facebook:link , .a-instagram:link, .a-tiktok:link, .a-facebook:visited, .a-instagram:visited, .a-tiktok:visited {
    color: #000;
    background-color: rgba(0, 0, 0,);
}
.a-facebook, .a-instagram, .a-tiktok {
    display: inline-block;
    margin-top: 5px;
    margin-left: 85px ; margin-right: 85px;
}

.footer-note {
    font-size: xx-small;
}